/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";

/* Main body */
body {
    font-family: 'Roboto', sans-serif;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(245, 241, 241);
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-top: 20px solid #f00;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  
  border-left: 60px solid green;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid blue; 
}


/* Main body */



a.btn-block {
    display: block;
    padding: 5px 3px;
    background: black;
    text-align: center;
    height: 20px;
    width: 100px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Login and signup form */
.login-form-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background: white;
}

.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.login-input {
    border-radius: 4px;
    box-shadow: none;
    padding: 9px 16px;
    border: 1px solid #E1E3DF;
    height: 30px;
}

.login-form-box {
    outline: 0;
    padding: 20px;
    width: 358.462px;
    border-radius: 4px;
}

.login-form > label {
    margin-bottom: 6px;
    font-size: 14px;
    text-align: left;
    font-weight: 560;
}

.login-header  h1 {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}

.register-header h1 {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}

.register-header p {
    font-size: 14px;
    font-weight: 300;
}

.text-orange {
    padding-left: 5px;
    color: orangered;
}
/* Login and signup form */


/* Button 3d effect */
.clicky {
    /** Offset the Position **/
    position: relative;
    top: 0;
    margin-top: 0;
    margin-bottom: 10px;

    /** 3D Block Effect **/
    /* box-shadow: 0 10px 0 0 #6B2A4A; */

    /** Make it look pretty **/
    display: block;
    background: black;
    color: #eee;
    padding: 12px 28px;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    height: 48px;
    opacity: 0.9;
    border-radius: 5px;
    font-weight: bold;

}
/* Button 3d effect */


/* Modal */
.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(128, 127, 127, 0.7);
    z-index: 10;
}

.modal-child {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-x {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
/* Modal */

/* NavBar */
.navbar-ul {
    left: 200px;
    padding-left: 30px;
    border-bottom: 1px solid rgba(34, 34, 34, 0.15);
    height: 113.978px;
    display: flex;
    align-content: center;
}


.navbar-ul  li {
    list-style: none;
    display: inline-block;
    
    font-size: 12px;
    color: #595959;
}



.logo-nav {
    margin-right: 25px;
    height: 45px;
    position: relative;
    width: 60px;
    margin-left: 50px;
}


#logo {
    background-image: image-url("logo.png");
    width: 116px;
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -13px;
}

.search-nav {
    width: 795px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: left;
    color: lightgray;
    padding-top: 12px;
    padding-left: 20px;
    position: relative;
    margin-left: 50px;
    margin-top: 15px;
}

.search-icon {
    position: absolute;
    left: 762px;
}

// Logged in navbar

.notification-nav {
    position: relative;
    padding-right: 25px;
    border-right: 1px solid  rgba(34, 34, 34, 0.15);
    height: 40px;
    padding-top: 25px;
    margin-left: 30px;
    margin-top: 15px;
}

.down-icon {
    position: absolute;
    left: 70px;
    color: lightgray;
}

.bell-icon {
    position: absolute;
    left: 21px;
    bottom: 42px;
    font-size: 20px
}


.shop-nav {
    position: relative;
    border-right: 1px solid rgba(34, 34, 34, 0.15);
    height: 40px;
    padding-top: 25px;
    margin-left: 30px;
    text-align: center;
    padding-right: 30px;
    margin-top: 15px;
}

#store-icon {
    position: absolute;
    background-image: image-url("store.svg");
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 41px;
    left: 25px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-menu {
    display: block;
    z-index: 1;
}


.dropdown-btn {
    background: white;
    border: 0;
    font-family: inherit;
    margin-top: 15px;
    font-size: inherit;
    color: inherit;
    height: 66px;
    margin-left: 20px;
    padding-right: 30px;
    border-right: 1px solid rgba(34, 34, 34, 0.15);
    padding-bottom: 25px;
}

.user-icon {
    font-size: x-large;
}

.dropdown-menu {
    display: none;
    position: absolute;
    width: 200px;
    border: 1px solid rgba(34, 34, 34, 0.15);
    background: white;
    right: -52px;
}

.dropdown-menu  a {
    text-decoration: none;
    display: block;
    padding-bottom: 10px;
    color: inherit;
    padding-top: 10px;
}

.dropdown-menu  a:hover {
    background: lightgray;
}

.dropdown-header {
    position: relative;
    border-bottom: 1px solid rgba(34, 34, 34, 0.15);
}

.view-profile {
    position: absolute;
    top: 30px;
    left: 90px;
    border: 1px solid rgba(34, 34, 34, 0.15);
    padding: 3px 2px;
    border-radius: 5px;
}

.fa-caret-right{
    margin-left: 5px;
}


#profile-pic{
    margin-left: 10px;    
    background-image: image-url("default_avatar_400x400.png");
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.fname {
    position: absolute;
    left: 100px;
    top: 7px;
    font-weight: bolder;
    text-decoration: underline;
    font-size: 16px;
}

.dropdown-content > a {
    padding-left: 10px;
}

.logout-btn {
    border-top: 1px solid rgba(34, 34, 34, 0.15);
}

#navbar-arrow {
    position: absolute;
    left: 100px;
    bottom: 175px;
}

.cart-nav {
    margin-left: 35px;
    position: relative;
    margin-top: 45px;
}

.fa-shopping-cart {
    position: absolute;
    font-size: 30px;
    bottom: 70px;
    right: 1px;
}

// Logged in navbar

// Logged out navbar
.logged-out-navbar-ul {
    left: 200px;
    padding-left: 30px;
    border-bottom: 1px solid rgba(34, 34, 34, 0.15);
    height: 113.978px;
    display: flex;
    align-content: center;
}
// Logged out navbar

.logged-out-navbar-ul > li {
    list-style: none;
    display: inline-block;
    padding-right: 15px;
    font-size: 14px;
    color: #595959;
}

.logged-out-navbar-ul .sell-on-epsy{
    margin-left: 30px;
    padding-right: 30px;
    text-align: center;
    padding-top: 35px;
    height: 30px;
    padding-bottom: 18px;
}

.login-signup {
    padding-top: 35px;
    padding-right: 20px;
    padding-bottom: 35px;
    border-right: 1px solid rgba(34, 34, 34, 0.15);
}

.login-signup > span > a {
    text-decoration: none;
    color: inherit;
}

.login-signup > span{
    margin-left: 20px;
}

.login a {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px 5px;
}

.logged-out-navbar-ul .cart-nav {
    margin-left: 25px;
    position: relative;
    margin-right: 20px;
}

.logged-out-navbar-ul .cart-nav .fa-shopping-cart {
    position: absolute;
    right: 15px;
}

// Category navbar
.navbar {
    position: relative;
}

.navbar .category-ul {
    display: flex;
    position: absolute;
    bottom: -5px;
    left: 80px;
    font-size: 14px;
    color: gray;
}

.category-ul > li {
    list-style: none;
    padding-right: 50px;
}
// Category navbar

// Errors ul styling 
.errors-ul {
    content: '';
    font-size: 12px;
}
// Errors ul styling 