/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";

/* Main body */
body {
    font-family: 'Roboto', sans-serif;
}
/* Main body */



a.btn-block {
    display: block;
    padding: 5px 3px;
    background: black;
    text-align: center;
    height: 20px;
    width: 100px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Login and signup form */
.login-form-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background: white;
}

.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.login-input {
    border-radius: 4px;
    box-shadow: none;
    padding: 9px 16px;
    border: 1px solid #E1E3DF;
    height: 30px;
}

.login-form-box {
    outline: 0;
    padding: 20px;
    width: 358.462px;
    border-radius: 4px;
}

.login-form > label {
    margin-bottom: 6px;
    font-size: 14px;
    text-align: left;
    font-weight: 560;
}

.login-header  h1 {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}

.register-header h1 {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}

.register-header p {
    font-size: 14px;
    font-weight: 300;
}

.text-orange {
    padding-left: 5px;
    color: orangered;
}
/* Login and signup form */


/* Button 3d effect */
.clicky {
    /** Offset the Position **/
    position: relative;
    top: 0;
    margin-top: 0;
    margin-bottom: 10px;

    /** 3D Block Effect **/
    /* box-shadow: 0 10px 0 0 #6B2A4A; */

    /** Make it look pretty **/
    display: block;
    background: black;
    color: #eee;
    padding: 12px 28px;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    height: 48px;
    opacity: 0.9;
    border-radius: 5px;
    font-weight: bold;

}
/* Button 3d effect */


/* Modal */
.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(128, 127, 127, 0.7);
    z-index: 10;
}

.modal-child {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-x {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
/* Modal */

/* NavBar */
.navbar-ul {
    left: 200px;
    padding-left: 30px;
    border-bottom: 1px solid rgba(34, 34, 34, 0.15);
    height: 113.978px;
    display: flex;
    align-content: center;
}


.navbar-ul > li {
    list-style: none;
    display: inline-block;
    
    font-size: 12px;
    color: #595959;
}
.logo-nav {
    margin-right: 25px;
    height: 45px;
    position: relative;
    width: 60px;
}


#logo {
    background-image: image-url("logo.png");
    width: 100px;
    height: 71px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -13px;
}

.search-nav {
    width: 700px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: left;
    color: lightgray;
    padding-top: 12px;
    padding-left: 20px;
    position: relative;
}

.search-icon {
    position: absolute;
    left: 680px;
}

.notification-nav {
    position: relative;
    padding-right: 25px;
    border-right: 1px solid  rgba(34, 34, 34, 0.15);
    height: 40px;
    padding-top: 25px;
    margin-left: 15px;
}

.down-icon {
    position: absolute;
    left: 70px;
    color: lightgray;
}

.bell-icon {
    position: absolute;
    left: 21px;
    bottom: 42px;
    font-size: 20px
}


.shop-nav {
    position: relative;
    border-right: 1px solid rgba(34, 34, 34, 0.15);
    height: 40px;
    padding-top: 25px;
    margin-left: 15px;
    text-align: center;
    padding-right: 15px;
}

#store-icon {
    position: absolute;
    background-image: image-url("store.svg");
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 41px;
    left: 25px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-btn {
    background: white;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    height: 64px;
    padding-bottom: 39px;
    margin-left: 20px;
    padding-right: 30px;
    border-right: 1px solid rgba(34, 34, 34, 0.15);
}

.user-icon {
    font-size: x-large;
}

.dropdown-menu {
    display: none;
    position: absolute;
    width: 200px;
    border: 1px solid rgba(34, 34, 34, 0.15);
    background: white;
    right: -52px;
}

.dropdown-menu  a {
    text-decoration: none;
    display: block;
    padding-bottom: 10px;
}

.dropdown-header {
    position: relative;
}

.view-profile {
    position: absolute;
}


#profile-pic{
    background-image: image-url("default_avatar_400x400.png");
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}



