/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
   

   body {
       font-family: 'Roboto',
       sans-serif;
   }

   .logo > img {
       height: 60px;
       padding-left: 15px;
   }

   .btn-block {
       display: block;
       white-space: normal;
       width: 100%;
   }

   .btn {
       color: #fff;
       border-radius: 5px;
       font-weight: bold;
       padding: 9px 27px;
   }
 

  .login-form-container {
      display: flex;
      justify-content: center;
      margin-top: 100px;
  }

   .login-form {
       display: flex;
       justify-content: center;
       flex-direction: column;
       
   }

   .login-input {
       margin-left: 20px;
       border-radius: 4px;
       box-shadow: none;
   }

    .login-form-box {
        outline: 1px solid black;
        padding: 20px;
        
    }

   /* Modal */
   .modal-background {
       position: fixed;
       top: 0;
       bottom: 0;
       right: 0;
       left: 0;
       background: rgba(0,0,0,0.7);
       z-index: 10;
   }

   .modal-child {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
   }