/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";

/* Main body */
body {
    font-family: 'Roboto', sans-serif;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(245, 241, 241);
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-top: 20px solid #f00;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  
  border-left: 60px solid green;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid blue; 
}


/* Main body */



a.btn-block {
    display: block;
    padding: 5px 3px;
    background: black;
    text-align: center;
    height: 20px;
    width: 100px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Login and signup form */
#demo-login {
    font-size: 12px;
    padding: 0 10px;
}
.login-form-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background: white;
}

.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.login-input {
    border-radius: 4px;
    box-shadow: none;
    padding: 9px 16px;
    border: 1px solid #E1E3DF;
    height: 30px;
}

.login-form-box {
    outline: 0;
    padding: 20px;
    width: 358.462px;
    border-radius: 4px;
}

.login-form > label {
    margin-bottom: 6px;
    font-size: 14px;
    text-align: left;
    font-weight: 560;
}

.login-header  h1 {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}

.register-header h1 {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}

.register-header p {
    font-size: 14px;
    font-weight: 300;
}

.text-orange {
    padding-left: 5px;
    color: orangered;
}
/* Login and signup form */


/* Button 3d effect */
.clicky {
    /** Offset the Position **/
    position: relative;
    top: 0;
    margin-top: 0;
    margin-bottom: 10px;

    /** 3D Block Effect **/
    /* box-shadow: 0 10px 0 0 #6B2A4A; */

    /** Make it look pretty **/
    display: block;
    background: black;
    color: #eee;
    padding: 12px 28px;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    height: 48px;
    opacity: 0.9;
    border-radius: 5px;
    font-weight: bold;

}
/* Button 3d effect */


/* Modal */
.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(128, 127, 127, 0.7);
    z-index: 10;
}

.modal-child {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-x {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
/* Modal */

/* NavBar */
.navbar-ul {
    left: 200px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid rgba(34, 34, 34, 0.15);
    height: 113.978px;
    display: flex;
    align-content: center;
}


.navbar-ul  li {
    list-style: none;
    display: inline-block;
    
    font-size: 12px;
    color: #595959;
}



.logo-nav {
    margin-right: 25px;
    height: 45px;
    position: relative;
    width: 60px;
    margin-left: 50px;
}


#logo {
    background-image: image-url("logo.png");
    width: 116px;
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -13px;
}

.search-nav {
    width: 795px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: left;
    color: lightgray;
    padding-top: 12px;
    padding-left: 20px;
    position: relative;
    margin-left: 50px;
    margin-top: 15px;
}

.search-icon {
    position: absolute;
    left: 750px;
}

// Logged in navbar

.notification-nav {
    position: relative;
    padding-right: 25px;
    border-right: 1px solid  rgba(34, 34, 34, 0.15);
    height: 40px;
    padding-top: 25px;
    margin-left: 30px;
    margin-top: 15px;
}

.down-icon {
    position: absolute;
    left: 70px;
    color: lightgray;
}

.bell-icon {
    position: absolute;
    left: 21px;
    bottom: 42px;
    font-size: 20px
}


.shop-nav {
    position: relative;
    border-right: 1px solid rgba(34, 34, 34, 0.15);
    height: 40px;
    padding-top: 25px;
    margin-left: 30px;
    text-align: center;
    padding-right: 30px;
    margin-top: 15px;
    cursor: pointer;
}

#store-icon {
    position: absolute;
    background-image: image-url("store.svg");
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 41px;
    left: 25px;
}


.dropdown {
    position: relative;
    display: inline-block;
    
}

.dropdown:hover .dropdown-menu {
    display: block;
    z-index: 1;
}


.dropdown-btn {
    background: white;
    border: 0;
    font-family: inherit;
    margin-top: 15px;
    font-size: inherit;
    color: inherit;
    height: 66px;
    margin-left: 20px;
    padding-right: 30px;
    border-right: 1px solid rgba(34, 34, 34, 0.15);
    padding-bottom: 25px;
    cursor: pointer;
}

.user-icon {
    font-size: x-large;
}

.dropdown-menu {
    display: none;
    position: absolute;
    width: 200px;
    border: 1px solid rgba(34, 34, 34, 0.15);
    background: white;
    right: -52px;
}

.dropdown-menu  a {
    text-decoration: none;
    display: block;
    padding-bottom: 10px;
    color: inherit;
    padding-top: 10px;
}

.dropdown-menu  a:hover {
    background: lightgray;
}

.dropdown-header {
    position: relative;
    border-bottom: 1px solid rgba(34, 34, 34, 0.15);
}

.view-profile {
    position: absolute;
    top: 30px;
    left: 90px;
    border: 1px solid rgba(34, 34, 34, 0.15);
    padding: 3px 2px;
    border-radius: 5px;
}

.fa-caret-right{
    margin-left: 5px;
}


#profile-pic{
    margin-left: 10px;    
    background-image: image-url("default_avatar_400x400.png");
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

#profile-pic > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.dropdown-header .fname {
    text-align: center;
    width: 100px;
    position: absolute;
    margin-left: 80px;
    top: 7px;
    font-weight: bolder;
    text-decoration: underline;
    font-size: 16px;
}

.dropdown-content > a {
    padding-left: 10px;
}

.logout-btn {
    border-top: 1px solid rgba(34, 34, 34, 0.15);
}

#navbar-arrow {
    position: absolute;
    left: 100px;
    bottom: 175px;
}

.cart-nav {
    margin-left: 35px;
    position: relative;
    margin-top: 45px;
}

.fa-shopping-cart {
    position: absolute;
    font-size: 30px;
    bottom: 70px;
    right: 1px;
}

// Logged in navbar

// Logged out navbar
.logged-out-navbar-ul {
    border-bottom: 1px solid rgba(34, 34, 34, 0.15);
    height: 113.978px;
    display: flex;
    align-content: center;
}
// Logged out navbar

.logged-out-navbar-ul > li {
    list-style: none;
    display: inline-block;
    padding-right: 15px;
    font-size: 14px;
    color: #595959;
}

.logged-out-navbar-ul .logo-nav {
    margin-left: 10px;
}

.logged-out-navbar-ul .sell-on-epsy{
    margin-left: 30px;
    text-align: center;
    padding-top: 35px;
    height: 30px;
    padding-bottom: 50px;
}

.login-signup {
    padding-top: 35px;
    padding-right: 20px;
    padding-bottom: 35px;
    border-right: 1px solid rgba(165, 165, 165, 0.15);
}

.login-signup > span > a {
    text-decoration: none;
    color: inherit;
}

.login-signup > span{
    margin-left: 20px;
}

.login a {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px 5px;
}

.logged-out-navbar-ul .cart-nav {
    margin-left: 25px;
    position: relative;
    margin-right: 10px;
}

.logged-out-navbar-ul .cart-nav .fa-shopping-cart {
    position: absolute;
    right: 15px;
}

// Category navbar
.navbar {
    position: relative;
}

.navbar .category-ul {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 60px;
    font-size: 14px;
    color: gray;
    margin: 0 auto;
}

.category-ul > li {
    list-style: none;
    padding-right: 50px;
}

.category-ul > li > a {
    text-decoration: none;
    color: gray;
}

// Category navbar

// Errors ul styling 
.session-form {
    display: flex;
    flex-direction: column;
    position: relative;
}

.errors-ul {
    font-size: 12px;
}

.errors-ul > li {
    list-style: none;
    color: red;
    position: absolute;
    top: 165px;
    left: 20px;
}
// Errors ul styling 

// Create shop page
.shop-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}

.shop-name {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 50px;
    margin-top: 50px;
}

.shop-name  p {
    font-size: 12px;
    font-weight: normal;
}

.shop-name-input > input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid lightgray;
    width: 500px;
    margin: 10px 50px 10px 50px;
    padding-left: 20px;
}

.shop-name-input {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 0 auto;
    padding: 0 0;
    width: 1200px;
    color: gray;
}

.shop-name-input > p {
    width: 500px;
    margin: 0 auto;
}

.shop-image-upload {
    font-size: 30px;
    font-weight: bold;
}

.shop-image-upload > p {
    font-size: 12px;
    font-weight: normal;
}

.image-preview {
    width: 200px;
    background: gray;
    margin: 0 auto 30px auto;
    height: 200px;
    border-radius: 50%;
}

.image-preview > img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

.shop-image-upload > input {
    margin: 0 auto 30px auto;
}

#save-shop {
    width: 20%;
    margin: 0 auto;
}

.shop-errors {
    font-size: 14px;
    color: red;
    position: absolute;
    left: 980px;
    top: 180px;
    font-style: italic;
}

// Create shop page

// Loading icon
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: orange;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: white;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: white;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
// Loading icon

// Shop show page
.shop-show-header {
    display: inline-flex;
    flex-flow: row;
    border-bottom: 1px solid lightgray;
    padding-bottom: 30px;
    margin: 0 50px;
}

.shop-logo > img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin-left: 13px;
}
.stock-edit-button {
    margin-top: 20px;
    margin-left: 15px;
    font-size: 10px;
}

.edit-your-shop-button {
    margin-left: 5px;
    margin-bottom: 10px;
}

.shop-name-show {
    margin-top: 30px;
    margin-left: 41px;
    font-size: 25px;
    width: 178px;
}

.favorite-shop {
    margin-left: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    color: gray;
    padding: 5px 15px;
    margin-top: 100px;
}



.fa-heart-o {
    margin-right: 10px;
}

.owner-info {
    margin-left: 539px;
    text-align: center;
    color: gray;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 360px;
}

.owner-info > p {
    color: black;
    font-weight: bold;
}
.owner-info > img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.shop-owner-name {
    margin-top: 10px;
    margin-bottom: 10px;
}

.fa-envelope-o {
    margin-right: 5px;
}
// Shop show page

// Product form
.product-form {
    background:#FAF9F5;
    padding-top: 20px;
}

.product-form > div {
    background: white;
    border: 1px solid lightgray;
    width: 95%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px 20px;
    margin-bottom: 30px;
}


.product-images > ul {
    display: flex;
    list-style: none;
    height: 150px;
    justify-content: space-around;
    margin-bottom: 30px;
    padding-left: 0;
}

.product-images .explanation {
    font-size: 12px;
    color: gray;
    width: 200px;
    padding-left: 0;   
}

.product-images .explanation > ul {
    padding-left: 15px;
    line-height: 15px;
    list-style: disc;
}



.product-images > ul > li {
    background-size: fill;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    
}

.product-images > ul > li > img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}



.first-preview {
    background-image: image-url('placeholder-1.svg');
}

.second-preview {
    background-image: image-url('placeholder-2.svg');
}
.third-preview {
    background-image: image-url('placeholder-3.svg');
}
.forth-preview {
    background-image: image-url('placeholder-4.svg');
}
.fifth-preview {
    background-image: image-url('placeholder-5.svg');
}


.images-input-button {
    width: 50%;
    margin: 0 auto;
}

.images-input-button > input {
    color: white;
}

.images-input-button > p {
    color: gray;
    font-size: 14px;
    font-style: italic;
}

.listing-details {
    display: flex;
    flex-direction: column;
}

.listing-details > h3 {
    margin-bottom: 0;
}

.listing-details > p {
    color: gray;
    font-size: 14px;
    margin-top: 10px;
}


.listing-details > div {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.label-description {
    width: 250px;
    font-size: 13px;
    color: gray;
    font-style: italic;
}

.label-description > label {
    color: black;
    font-weight: bold;
    font-style: normal;
}

.label-description > p {
    width: 150px;
}

.listing-details > div > input {
    border-radius: 5px;
    height: 36px;
    border: 1px solid lightgray;
    width: 90%;
    padding-left: 20px;
}

.listing-details .description > div {
    width: 228px;
}

.listing-details > div > textarea {
    border: 1px solid lightgray;
    padding-left: 20px;
    border-radius: 5px;
    width: 50%;
}

.listing-details .category > div {
    width: 227px;
}

.listing-details .category > select {
    height: 30px;
    background: whitesmoke;
    border-radius: 5px;
    width: 200px;
}

.inventory-pricing {
    display: flex;
    flex-direction: column;
}

.inventory-pricing > div {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.inventory-pricing > div > input {
    border-radius: 5px;
    height: 36px;
    border: 1px solid lightgray;
    width: 5%;
    padding-left: 20px;
}

.sticky-bar {
    position: fixed;
    bottom: -36px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.sticky-bar > a {
    margin-bottom: 0;
    padding-bottom: 10px;
    height: 23px;
    text-decoration: none;
    text-align: center;
    padding-top: 15px;
}

.sticky-bar > p {
    font-size: 14px;
    margin-bottom: 0;
    width: 954px;
}







// Product form